#tete
{
    display: flex;
    align-items: center; 
    background-color: #deeeff;
}
#logo
{
    flex: 1;
}
#logo1
{
    width: 200px;
    height: 200px;
}
#centre
{
    flex: 2;
    text-align: center;
}
h1
{
    font-size: 45px;
    text-decoration: underline solid black;
}
h2
{
    font-size: 30px;
}
#inscription 
{
    flex: 1;
    text-align: right;
}
#inscription1
{
    width: 200px;
    height: 200px;

}
